.popularsearches_container {
  margin-top: 24px;
}

.popularsearches_container__title {
  color: var(--ifm-grey-color-1);
  margin: 0 0 16px 8px;
  text-align: center;
}

.popularsearches_container__content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.botContainer {
  z-index: 2147483638;
  height: calc(100vh - 120px);
  max-height: 795px;
}

.botButton{
  border: none;
  color: #000;
  display: block;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  font-size: .75rem;
  line-height: 1.375rem;
  border-radius: 1.75rem;
  background-color: #f2cb67;
  padding: 0.4375rem 0.8rem;
}