.searchtag_container__link {
  text-decoration: none;
}
.searchtag_container__content {
  display: flex;
  align-items: center;
  background: var(--docsearch-hit-background);
  border-radius: 4px;
  box-shadow: var(--docsearch-hit-shadow);
  width: 100%;
  color: var(--docsearch-hit-color);
  padding: 8px;
  font-size: 0.9rem;
}

.searchtag_container__content:hover {
  background-color: var(--docsearch-highlight-color);
  color: var(--docsearch-hit-active-color);
}
.searchtag_container__content__title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
