/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.main_wrapper {
  overflow-y: auto;
}
.main_wrapper .section_container {
  width: 80%;
  margin: 30px auto;
}
.section_container .title {
  color: var(--ifm-primary-grey-color);
  font-size: 2rem;
  font-weight: 600;
}

.section_container .overview_title {
  color: var(--ifm-primary-grey-color);
  font-size: 1.625rem;
  font-weight: 400;
}

.section_container .description {
  color: var(--ifm-grey-color-1);
  font-size: 0.875rem;
}

.main_wrapper .section_container .contents {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.main_wrapper .section_container .contents .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-self: start;
}

.main_wrapper .section_container .contents .right_sidebar {
  flex: 0 1 25%;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .buttons {
    display: block;
    border-radius: 0.5em;
    margin: 0 0 1rem;
    min-width: auto;
    width: 100%;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
