---
title: Facebook Business Verification Process
sidebar_label : Facebook Business Verification Process
---

## Overview on the BV steps:

### 1. Access Business Manager Security Center

To start the verification process go to [Security Center](https://business.facebook.com/settings/security) and click Start Verification in the Business
verification section.

The Start Verification button will be greyed out unless your business needs access to certain
features. See the below section on how to enable the button.

### 2. Select Your Business

**If your business is already listed:**

**A. Confirm your business details**: Select a phone number that you have access to from the drop-down menu and click Next.
Double check for any typos or other errors: you will not be able to edit this information upon
submission.

**B. Get a verification code**: Choose to receive the verification code on your business phone number via a text message or a
phone call or via email. The phone number option may not be available in all countries.
Please make sure that the email registered has the same domain as the website.

Accepted example: ✅
- Email: name@business.com
- Site: www.business.com

Not accepted example ❌
- Email: name@gmail.com or name@otherbusiness.com
- Site: www.business.com

**C. Or verify your domain**
If your domain is already verified, click Use Domain Verification. If not, complete the domain verification process, then return to the Security Centre and select Continue. 

Enter verification code (not applicable if you use domain verification)

Enter your verification code. Click Submit.

You can skip the remaining steps 3 & 4 below.

**If your business is not listed:** If you cannot see your business in the list please select None of these matches.
Then proceed with the Steps 3 & 4 below.

### 3. Verify the Legal Business Name
You may be asked in step 3 to provide official documentation of your business’s legal name. Upload an official document that matches the business’s legal name you entered in step 1, such as a business license, articles of incorporation or business tax registration. 

Please check here the list of the documents accepted and not accepted before submitting them.

### 4. Verify the Business Address or Phone Number

Upload a document that shows both the legal name of your business and the mailing address or
phone number shown on the screen.
Please check here the list of the documents accepted and not accepted before submitting them.
When your business is verified you will be notified and you will also see the verified status in
your account.

## Checklist for Business Verification

To increase the company's chances of being verified by Facebook, it is important to get these
checked internally by BAs of respective projects:

- **The company's website is active and complete,** containing the company's name and
address.
- **The account email is from the same domain as the company's website** provided in
the documentation. (www.mywebsite.com > xyz@mywebsite.com).
- If the verification will be made through the phone number, **make sure the number is
able to receive the call.** If the phone has IVR, ask client to disable it temporarily
- The **company's trade name in the documentation is the same used on the website**
and on the Facebook page. If different, the names need to be related in some way on
the website. For example, at the footer, enter "Company ABC powered by company D"

## Best Practices

**Documents:**


- Document quality / resolution should be good - **no pixelation**
- Documents should always be signed, **especially GST, Other [accepted documents](https://www.facebook.com/business/help/159334372093366)**
- Documents **should not be modified** or show signs of tampering e.g. handwritten notes, strikethroughs, white ink etc.
- **The legal business documents should have a matching address if not please provide additional docs that prove the address.**
- **English documentation seems to be processed more quickly.** Currently, the following languages are supported for business verification:
    - Arabic
    - Bengali
    - English
    - French
    - German
    - Greek
    - Hebrew
    - Hindi
    - Indonesian
    - Italian
    - Japanese
    - Korean
    - Malaysian
    - Mandarin
    - Polish
    - Portuguese
    - Russian
    - Spanish
    - Thai
    - Turkish
    - Vietnamese

**Website**
- Website **should be accessible, no geo filters** should be there as that may prevent FB teams from viewing website
- The website shall be a secure one **https://**
- **Website must contain the legal business name**, preferably on home page e.g. in footer of website.
- **Website domain and email domain (for OTP verification) must be the same.** If not, upload DNS records to prove the legal business entity owns both domains. Other option for this is domain verification.
- It is helpful to have **the ownership of the provided domain**
- **Upload the website to FB** Business Manager.

**Duration:**
As it can take more than two weeks, we recommend starting the verification at the starting phase of the project.

## Official Facebook Documentation

- [Verify your business](https://www.facebook.com/business/help/2058515294227817?id=180505742745347)
- [Documents to upload](https://www.facebook.com/business/help/159334372093366)
- [Troubleshooting what the business is not verified](https://www.facebook.com/business/help/2342133782492969?id=180505742745347)