.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero {
  background: linear-gradient(178.49deg, #bfe7ff 16.22%, #eaf5fb 98.8%);
  padding: 9rem 0;
}
.heroBanner .hero_title {
  font-size: 2rem;
  color: var(--ifm-primary-grey-color);
  font-weight: 600;
}
.heroBanner .hero_sub_title {
  font-size: 1.25rem;
  color: var(--ifm-grey-color-1);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.heroBanner .search_wrapper {
  width: 60%;
  margin: 30px auto 0 auto;
  position: relative;
}

.heroBanner .search_wrapper i {
  position: absolute;
  top: 20%;
  left: 10px;
  z-index: 2;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  font-size: 1.6rem;
  color: #a1aab2;
}

.heroBanner .search_wrapper .search_input {
  background: #ffffff;
  border: 1px solid #dddddd;
  min-height: 62px;
  width: 100%;
  padding-left: 4rem;
}
.heroBanner .search_input:focus {
  outline: none;
}
