.overview_container {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 4px;
  background-color: #fff;
  max-width: 330px;
  padding: 16px 20px;
  height: 128px;
}

.overview_container .title {
  font-size: 1.25rem;
  color: var(--ifm-primary-grey-color);
  font-weight: 400;
  margin-bottom: 10px;
}

.overview_container .description {
  color: var(--ifm-grey-color-1);
  font-size: 0.875rem;
  margin: 0;
}
