.footer {
  background-color: var(--ifm-footer-bg-color);
  padding: 50px;
  color: var(--ifm-color-white);
}
.footer .container {
  display: flex;
  gap: 50px;
  letter-spacing: 0.15px;
}

.container .logo_container {
  margin-right: 30px;
}
.container .logo_container .description {
  font-size: 0.875rem;
}
.container .list_container {
  margin-right: 50px;
}

.container .list_container .title {
  color: var(--ifm-orange-color);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.container .list_container .list_items {
  padding: 0;
}

.container .list_container .list_items .item {
  list-style-type: none;
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer .company_info {
  border-top: 2px solid #ffd3a7;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.footer .company_info .info {
  display: flex;
  gap: 80px;
  font-size: 0.75rem;
  letter-spacing: 0.15px;
}

.footer .company_info .social_links a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--ifm-color-white);
}

@media screen and (max-width: 966px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .company_info {
    flex-direction: column;
  }
  .footer .company_info .info {
    flex-wrap: wrap;
    gap: 20px;
  }
}
